@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'mexcellent3d';
    src: url("assets/fonts/mexcellent_3d-webfont.woff2") format('woff2'),
    url("assets/fonts/mexcellent_3d-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
  }
}
